/* assigned specific font size to body, h1 tags inside the body tag */

body {
    font-size: 14px;

    h1 {
        font-size: 16px;
        
        &.smaller {
            font-size: 12;
        }
    }
}