/* assigns font-size and text color to tag of class info, success, warning */

.info {
    font-size: 12px;
  }
  
  .success {
    @extend .info;
    color: #00FF00;
  }
  
  .warning {
    @extend .info;
    color: #FF0000;
  }
  